<section id="about" class="mt-3">
        <div class="container">
            <div class="column">
                <h3 class="title text-color is-3">{% t global.about %}</h3>
            </div>
            <p class="text-color">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum turpis a mi rutrum porta.
                Vestibulum rhoncus efficitur lacus at tincidunt. Quisque pulvinar mollis leo, vel interdum libero
                gravida
                et. Vivamus augue dolor, lobortis non mi ac, venenatis vestibulum tortor. Fusce posuere tempus orci ac
                hendrerit. Nullam egestas nulla erat, id aliquam lorem lacinia sit amet. Aliquam ac pretium ex. Donec
                neque
                lorem, iaculis ut molestie eu, varius vel ante. Suspendisse sollicitudin tristique scelerisque. Mauris
                maximus tortor eu tortor imperdiet tristique. Morbi feugiat varius pretium.
            </p>
        </div>
</section>