<section class="hero has-text-centered is-fullheight contact-mountains " id="contact">
    <div class="hero-body planet">
        <div class="container">
            <h3 class="title  text-color is-3">{% t global.contact %}</h3>
            <hr>
            <h3 class="is-size-5  text-color is-uppercase has-text-weight-semibold is-marginless">
                {% t global.contact_message %}
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.linkedin_username == %}
                <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="text-color"><i
                        class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username == %}
                <a href="https://www.github.com/{{site.github_username}}" target="_blank" class="text-color"><i
                        class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.stack_overflow_id == %}
                <a href="https://stackoverflow.com/users/{{site.stack_overflow_id}}" target="_blank"
                    class=" text-color"><i class="fa fa-stack-overflow"></i></a>
                {% endunless %}
            </div>
        </div>

    </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="262" viewBox="0 0 1440 262" fill="none">
        <path
            d="M0 262L24 219.3C48 177 96 91 144 48.7C192 5.99998 240 5.99998 288 16.7C336 27 384 49 432 38C480 27 528 -15 576 5.99999C624 27 672 113 720 139.3C768 166 816 134 864 128.7C912 123 960 145 1008 155.3C1056 166 1104 166 1152 160.7C1200 155 1248 145 1296 150C1344 155 1392 177 1416 187.3L1440 198V262H1416C1392 262 1344 262 1296 262C1248 262 1200 262 1152 262C1104 262 1056 262 1008 262C960 262 912 262 864 262C816 262 768 262 720 262C672 262 624 262 576 262C528 262 480 262 432 262C384 262 336 262 288 262C240 262 192 262 144 262C96 262 48 262 24 262H0Z"
            fill="url(#paint0_linear_8_8)" />
        <defs>
            <linearGradient id="paint0_linear_8_8" x1="1178.18" y1="0.204716" x2="1140.05" y2="351.291"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#9EFF00" />
                <stop offset="1" stop-color="#2EA7DB" />
            </linearGradient>
        </defs>
    </svg> -->
</section>