<section id="contact"
    class="container-fluid vh-100 text-center d-flex flex-column justify-content-center position-relative">
    <div class="row">
        <div class="col-12">
            <div class="float-end">
                <img src="{{site.baseurl_root}}/assets/images/planet.svg" class="img-fluid" alt="Mountains"
                    loading="lazy">
            </div>
            <div class="align-middle py-5 mt-5">
                <h3 class="display-5 text-color">{% t global.contact %}</h3>
                <hr>
                <h3 class="fs-5 text-color text-uppercase fw-semibold">
                    {% t global.contact_message %}
                </h3>
                {% unless site.linkedin_username == %}
                <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="link-light" target="_blank"><i
                        class="fab fa-linkedin fs-1"></i></a>
                {% endunless %}
                {% unless site.github_username == %}
                <a href="https://www.github.com/{{site.github_username}}" class="link-light" target="_blank"><i
                        class="fab fa-github fs-1"></i></a>
                {% endunless %}
                {% unless site.stack_overflow_id == %}
                <a href="https://stackoverflow.com/users/{{site.stack_overflow_id}}" class="link-light"
                    target="_blank"><i class="fa fa-stack-overflow fs-1"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <img src="{{site.baseurl_root}}/assets/images/planet.svg" class="img-fluid float-end" alt="Mountains"
                loading="lazy">
        </div>
    </div> -->
    <div class="row position-absolute bottom-0 start-50 translate-middle-x w-100 m-0">
        <div class="col-12">
            <img src="{{site.baseurl_root}}/assets/images/mountains.svg" class="w-100 img-fluid" alt="Mountains"
                loading="lazy">
        </div>
    </div>
</section>