<section id="home" class="hero">
    <div class="star_collection"></div>
    <div class="star_collection_2"></div>
    <div class="star_collection star_collection_3"></div>
    <div class="hero-container container px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-xxl-5">
                <img src="{{site.baseurl_root}}/assets/images/profile.jpg" class="rounded d-block mx-lg-auto img-fluid"
                    alt="My Photo" loading="lazy">
            </div>
            <div class="col-xxl-7">
                <h5 class="text-white lh-1 mb-3 ">Hi Everyone, I am</h5>
                <h1 class="text-white"> {{site.title}}</h1>
                <p class="lead text-white"> {% t global.short_description %}</p>
                <div class="d-grid d-md-flex justify-content-md-center">
                    <a class="btn btn-primary btn-lg px-4" href="{{site.baseurl_root}}{{site.translations[site.lang].global.cv_path}}" download="cv.pdf">
                        <span>
                            {% t global.downlad_cv %}
                        </span>
                        <span class="icon">
                            <i class="fa fa-cloud-download"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<svg>
    <defs>
        <clipPath id="profile-background">
            <path
                d="M0.456293 1385.73C67.3518 1039.74 398.23 278.22 1186.58 -5.04553e-05C1190.4 368.13 958.519 1160.66 0.456293 1385.73Z"
                fill="#13243E" />
        </clipPath>
    </defs>

</svg>