<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand"
            href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
            <strong>{{site.title}}</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end px-5" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                        href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
                        {{site.translations[site.lang].navbar.home}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/#about">
                        {{site.translations[site.lang].navbar.about}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/#skills">
                        {{site.translations[site.lang].navbar.skills}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/#projects">
                        {{site.translations[site.lang].navbar.projects}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/#contact">
                        {{site.translations[site.lang].navbar.contact}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ site.translations[site.lang].langs[site.lang]}}
                    </a>
                    <ul class="dropdown-menu">
                        {% for lang in site.languages %}
                        {% unless site.lang == lang %}
                        {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
                        <li> <a class="dropdown-item" href="{{ site.baseurl_root }}{{ page.url }}">{% t langs.{{lang}}%}
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a class="dropdown-item" href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}">{% t
                                langs.{{ lang }} %}</a>
                        </li>
                        {% endif %}
                        {% endunless %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>