<div class="col-lg-4 col-md-6 p-3" id="{{include.project.category}}" {% if include.visible==1 %} style="display:unset;"
    {% else %} style="display:none;" {% endif %} index="{{include.index}}">
    <div class="card" id="project-card">
        <img class="card-img-top rounded-5 p-2" src="https://unsplash.it/300/200/?random&pic=1" alt=""
            data-bs-toggle="modal" data-bs-target="#projectPhotosModal">
        {% assign today = site.time | date: '%s' %}
        {% assign start = include.project.date | date: '%s' %}
        {% assign secondsSince = today | minus: start %}
        {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
        {% assign daysSince = hoursSince | divided_by: 24 %}
        {% if daysSince < 15 %} <span class="position-absolute top-10 end-0 rounded-pill badge text-bg-info m-2"
            id="new-project">
            New!
            </span>
            {% endif %}

            <div class="card-body container">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{include.project.title}}</h5>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <i class="level-item fa {% if include.project.visibility == 'public' %} fa-unlock {% else %}fa-lock{% endif %}"
                            aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline">
                        {% for tag in include.project.tags limit:5 %}
                        <span class="list-inline-item badge rounded-pill text-bg-secondary">{{tag}}</span>
                        {% endfor %}
                    </ul>
                </div>

                <!-- <div class="row">
            <a>{% t global.see_more_details%}</a>
        </div> -->
            </div>
    </div>
</div>