<section id="skills" class="py-5">

    <div id="skillBox">
        <span id="skillTitle">
            <h3 class="text-color">
                <span class="dot"></span>
                Skills
                <span class="dot"></span>
            </h3>
        </span>
        <div class="container text-center mb-5">
            <div class="row align-items-center">
                <div class="col-2">
                    <button class="btn btn-light rounded-pill" id="btMoveLeft">
                        <i class="fas fa-angle-left"></i>
                    </button>
                </div>

                <div class="col-8">
                    <ul class="list-inline" id="skillList">
                        {% for skill in site.skills %}
                        <li class="list-inline-item m-3">
                            <img src="{{site.baseurl_root}}/assets/images/skills/{{skill}}" width="64" height="64">
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-2">
                    <button class="btn btn-light rounded-pill" id="btMoveRight">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const skillList = document.getElementById('skillList');
        const moveRightButton = document.getElementById('btMoveRight');
        const moveLeftButton = document.getElementById('btMoveLeft');
        let scrollPosition = 0;
        const scrollStep = 50;

        moveRightButton.addEventListener('click', function () {
            scrollPosition += scrollStep;
            if (scrollPosition >= skillList.scrollWidth) {
                scrollPosition = 0;
            }
            skillList.scrollTo({
                left: scrollPosition,
                behavior: 'smooth',
            });
        });

        moveLeftButton.addEventListener('click', function () {
            scrollPosition -= scrollStep;
            if (scrollPosition < 0) {
                scrollPosition = skillList.scrollWidth - skillList.clientWidth;
            }
            skillList.scrollTo({
                left: scrollPosition,
                behavior: 'smooth',
            });
        });
    });
</script>