<section id="skills" class="py-5">

    <div id="skillBox">
        <span id="skillTitle">
            <h3 class="text-color">
                <span class="dot"></span>
                Skills
                <span class="dot"></span>
            </h3>
        </span>
        <div class="container text-center mb-5">
            <div class="row align-items-center">
                <div class="col-md-2 col-1">
                    <button class="btn btn-light rounded-pill" type="button" data-bs-target="#carouselSkills"
                        data-bs-slide="prev" id="btMoveLeft">
                        <i class="fas fa-angle-left"></i>
                    </button>
                </div>

                <div class="col-md-8 col-9 carousel slide" id="carouselSkills">
                    {% assign counter = 0 %}
                    <div class="carousel-inner">
                        {% for skill in site.skills %}
                        {% if counter == 0 %}
                        {% if forloop.first%}
                        <div class="carousel-item active">
                            <ul class="row">
                            {% else %}
                            <div class="carousel-item">
                                <ul class="row">
                                {% endif %}
                                {% endif %}

                                <div class="col-md-3 col-3">
                                    <img src="{{site.baseurl_root}}/assets/images/skills/{{skill}}" class="img-skill" >
                                </div>

                                {% assign counter = counter | plus: 1 %}
                                {% if counter == 4 %}
                            </ul>
                            </div>
                            {% assign counter = 0 %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-2">
                    <button class="btn btn-light rounded-pill" data-bs-target="#carouselSkills" data-bs-slide="next"
                        id="btMoveRight">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>