@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


$primary: #13243e;
$secondary:#0d202b;
$tertiary: #377386;
//#d3eeff
//#

@import "bootstrap/bootstrap";

html,
body {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth !important;
    transition: all 0.25s ease;
}