---
---

@import "main.scss";

.background {
    background-color: $primary;
}

.text-color {
    color: white;
}

.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
  }
  .profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 3vw;
    transform: translateX(-50%);
  }

.star-background {
    background: linear-gradient(to bottom, #173356 0%, #274356 60%, #377386 100%);
}

.star_collection {
    height: 3px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    top: 120px;
    left: 120px;
    border-radius: 50%;
    opacity: 0.1;
    box-shadow:
        80px 120px 0 #fff,
        280px 150px 0 #fff,
        480px 150px 0 #fff,
        680px 420px 0 #fff,
        480px 620px 0 #fff,
        680px 100px 0 #fff,
        1650px 10px 0 #fff,
        980px 180px 0 #fff;
    animation: twinkle 2s infinite;
    -webkit-animation: twinkle 2s infinite;
}

.star_collection_2 {
    height: 3px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    top: 150px;
    left: 100px;
    border-radius: 50%;
    box-shadow:
        110px -110px 0 #fff,
        210px 210px 0 #fff,
        410px 310px 0 #fff,
        710px 110px 0 #fff,
        1110px 80px 0 #fff,
        1400px 380px 0 #fff,
        1600px 580px 0 #fff,
        290px -50px 0 #fff;
    animation-delay: 0.3s;
}
.star_collection_3 {
    height: 3px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    top: 110px;
    left: 130px;
    border-radius: 50%;
    box-shadow:
        160px -70px 0 #fff,
        10px 400px 0 #fff,
        120px 550px 0 #fff,
        200px 500px 0 #fff,
        1200px 300px 0 #fff,
        1500px 200px 0 #fff,
        1600px 100px 0 #fff,
        -110px 50px 0 #fff;
    animation-delay: 0.6s;
}

@keyframes twinkle {
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes twinkle {
    50% {
        opacity: 1;
    }
}

#new-project {
    background-color: $tertiary;
}

.navbar {
    background-color: white;
}

#dropdown_menu {
    margin-top: 2.5%;
}

#skillsFilterBox {
    border-radius: 40px;
    background-color: $tertiary;
}

#skillBox {
    border: 1px solid $tertiary;
    line-height: 0.4em;
    margin: 10px 0 20px;
    background-color: transparent;
}

#project-card {
    border-radius: 30px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

.project-background {
    background-color: white;
    border-radius: 25px;
    margin-top: ($spacer * 8) !important;
}

#skillList {
    white-space: nowrap;
    overflow-x: hidden;
}

#skillTitle {
    background-color: $primary;
    transform: translate(5%, -50%);
    display: inline-flex;
}
.dot {
    height: 0.4em;
    width: 0.4em;
    align-self: center;
    background-color: $tertiary;
    border-radius: 50%;
    display: inline-block;
}

#contact hr {
    border: 2px solid white;
}

#footer {
    background-color: white;
    padding: 1.25rem;
    box-shadow:
        0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    display: block;
}
