<!DOCTYPE html>
<html>
{% include head.html %}

<body class="background">
  {% include header.html %}
  {% include home.html %}
  <div class="container">
    <div class="row">
      <div class="col">
        {% include about.html %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% include skills.html %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% include projects.html %}
      </div>
    </div>
  </div>
  <div class="">
    {% include contact.html %}
    {% include footer.html %}
  </div>

</body>

</html>